.aider*
/logs/*
!/logs/
!/logs/.gitkeep


/static_assets/*
/static_assets/system_prompt/*
/static_assets/system_prompt/old_files/*
/static_assets/tech_library/*
/static_assets/tech_library/old_files/*
/static_assets/message_template/*
/static_assets/message_template/old_files/*

!/static_assets/message_template/
!/static_assets/message_template/old_files/
!/static_assets/tech_library/
!/static_assets/tech_library/old_files/
!/static_assets/system_prompt/
!/static_assets/system_prompt/old_files/
!/static_assets/message_template/.gitkeep
!/static_assets/message_template/old_files/.gitkeep
!/static_assets/tech_library/.gitkeep
!/static_assets/tech_library/old_files/.gitkeep
!/static_assets/system_prompt/.gitkeep
!/static_assets/system_prompt/old_files/.gitkeep

/recruiterAIhost/*
!/recruiterAIhost/
!/recruiterAIhost/.gitkeep

/candidate_inputs/*
/candidate_inputs/jd/*
/candidate_inputs/jd/old_files/*
/candidate_inputs/resume/*
/candidate_inputs/resume/old_files/*
/candidate_inputs/resume/active_resumes/*

!/candidate_inputs/
!/candidate_inputs/.gitkeep
!/candidate_inputs/jd/
!/candidate_inputs/jd/.gitkeep
!/candidate_inputs/jd/old_files/
!/candidate_inputs/jd/old_files/.gitkeep
!/candidate_inputs/resume/
!/candidate_inputs/resume/.gitkeep
!/candidate_inputs/resume/active_resumes/
!/candidate_inputs/resume/active_resumes/.gitkeep
!/candidate_inputs/resume/old_files/
!/candidate_inputs/resume/old_files/.gitkeep

/outputs/*
/outputs/old_files/*

!/outputs/
!/outputs/.gitkeep
!/outputs/old_files/
!/outputs/old_files/.gitkeep
